extends layout

block content
    h1='My favourite Movies'
    ul
        each movie in movies
            li= 'Movie name: '+movie.movie + '   , director: '+ movie.director
    a(href='/movies/add') Add new Movie

