extends layout

block content
    .row
        h4 Add some good serie
    form(action="", method="post")
        .form-group.row
            label Serie
                input.form-control(name="serie")
        .form-group.row
            button.btn-primary Add